[user]
    email = niboshi000@gmail.com
    name = niboshi
[core]
    editor = vi


# http://stackoverflow.com/questions/1057564/pretty-git-branch-graphs
[alias]
    log1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    log2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all

    # The echo in the end is needed because git appends $1 to the commands unconditionally
    checkout-pr = !git fetch origin pull/$1/head:pr-$1 && git checkout pr-$1 && echo
